<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <!--
        httpRuntime Attributes:
        executionTimeout="[seconds]" - time in seconds before request is automatically timed out
        maxRequestLength="[KBytes]" - KBytes size of maximum request length to accept
        useFullyQualifiedRedirectUrl="[true|false]" - Fully qualifiy the URL for client redirects
        minFreeThreads="[count]" - minimum number of free thread to allow execution of new requests
        minLocalRequestFreeThreads="[count]" - minimum number of free thread to allow execution of new local requests
        appRequestQueueLimit="[count]" - maximum number of requests queued for the application
    -->
    <httpRuntime executionTimeout="3600" maxRequestLength="2048000" />
    <!-- <identity impersonate="true" userName="userName" password="password"/> -->
    <!-- <globalization requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" /> -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 2GB: allowed request length(bytes), IIS 7 -->
        <requestLimits maxAllowedContentLength="2048000000" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="content-type, raonk-encoded"/>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    
    <!-- IIS 정적 컨텐츠 압축과 동시 사용 불가 -->
    <!--
    <urlCompression doStaticCompression="false" />
    <staticContent> 
      <remove fileExtension=".js.gz" />
      <mimeMap fileExtension=".js.gz" mimeType="application/javascript" />
    </staticContent>    
    <rewrite>       
      <outboundRules rewriteBeforeCache="true">
        <rule name="RAONWIZ editor core javascript file gzip header"> 
          <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">>
              <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" />
              <add input="{REQUEST_URI}" pattern="/editor_core\.js\.gz" />
          </conditions> 
          <action type="Rewrite" value="gzip" />
        </rule>
      </outboundRules>
    </rewrite>            
    -->
  </system.webServer>
 
</configuration>