<html>
<head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link rel="stylesheet" type="text/css" href="../css/editor_layout.css" />
    <style type="text/css">
        p{ font-family: 굴림; line-height: 120%; margin-top: 0; margin-bottom: 0; }
        table,tr, td { font-size:10pt; empty-cells:show; }
        body{ font-family: 굴림; font-size: 10pt; }
    </style>
</head>
<body contenteditable="true">
    <table style="width: 100%; border: 0px solid rgb(211, 211, 211); font-size: 10pt;
        border-collapse: collapse; empty-cells: show; background-color: rgb(255, 255, 255);"
        border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="keditor_dot" colspan="6" style="width: 100%; height: 130px;">
                <h3 style="text-align: center; color: rgb(0, 175, 96);">
                    제목을 입력해 주세요.</h3>
                <p style="text-align: center;">
                    내용을 입력해주세요</p>
            </td>
        </tr>
        <tr>
            <td class="keditor_dot" colspan="6" style="width: 100%; height: 10px;">
            </td>
        </tr>
        <tr>
            <td style="width: 32%; height: 215px; border: solid 1px rgb(232,232,232);">
                <p style="text-align: center;">
                    <span style="color: rgb(170, 170, 170);">[이미지]</span></p>
            </td>
            <td style="width: 2%; height: 215px;">
            </td>
            <td style="width: 32%; height: 215px; border: solid 1px rgb(232,232,232);">
                <p style="text-align: center;">
                    <span style="color: rgb(170, 170, 170);">[이미지]</span></p>
            </td>
            <td style="width: 2%; height: 215px;">
            </td>
            <td style="width: 32%; height: 215px; border: solid 1px rgb(232,232,232);">
                <p style="text-align: center;">
                    <span style="color: rgb(170, 170, 170);">[이미지]</span></p>
            </td>
        </tr>
        <tr>
            <td class="keditor_dot" colspan="6" style="width: 100%; height: 10px;">
            </td>
        </tr>
        <tr>
            <td style="width: 32%; height: 215px; border: solid 1px rgb(232,232,232);">
                <p style="text-align: center;">
                    <span style="color: rgb(170, 170, 170);">[이미지]</span></p>
            </td>
            <td style="width: 2%; height: 215px;">
            </td>
            <td style="width: 32%; height: 215px; border: solid 1px rgb(232,232,232);">
                <p style="text-align: center;">
                    <span style="color: rgb(170, 170, 170);">[이미지]</span></p>
            </td>
            <td style="width: 2%; height: 215px;">
            </td>
            <td style="width: 32%; height: 215px; border: solid 1px rgb(232,232,232);">
                <p style="text-align: center;">
                    <span style="color: rgb(170, 170, 170);">[이미지]</span></p>
            </td>
        </tr>
        <tr>
            <td class="keditor_dot" colspan="6" style="width: 100%; height: 20px;">
            </td>
        </tr>
        <tr>
            <td class="keditor_dot" colspan="6" style="width: 100%; height: 40px;">
                <h4 style="color: rgb(170, 170, 170); padding: 0 0 0 10px; color: rgb(85,85,85);">
                    제목을 입력해 주세요.</h4>
            </td>
        </tr>
        <tr>
            <td class="keditor_dot" colspan="6" style="width: 100%; height: 150px;">
                <ol>
                    <li style="padding: 3px; color: rgb(102,102,102);"><span style="font-size: 9pt;">&nbsp;내용을
                        입력하세요.</span></li>
                    <li style="padding: 3px; color: rgb(102,102,102);"><span style="font-size: 9pt;">&nbsp;내용을
                        입력하세요.</span></li>
                    <li style="padding: 3px; color: rgb(102,102,102);"><span style="font-size: 9pt;">&nbsp;내용을
                        입력하세요.</span></li>
                    <li style="padding: 3px; color: rgb(102,102,102);"><span style="font-size: 9pt;">&nbsp;내용을
                        입력하세요.</span></li>
                    <li style="padding: 3px; color: rgb(102,102,102);"><span style="font-size: 9pt;">&nbsp;내용을
                        입력하세요.</span></li>
                    <li style="padding: 3px; color: rgb(102,102,102);"><span style="font-size: 9pt;">&nbsp;내용을
                        입력하세요.</span></li>
                </ol>
            </td>
        </tr>
    </table>
</body>
</html>
